{erl_opts, [debug_info]}.

{require_otp_vsn, "27"}.

{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.13.0"}}},
    {jsone, {git, "https://github.com/sile/jsone", {tag, "1.9.0"}}}
]}.

{relx, [{release, { observerweb, "0.2.0" },
         [observerweb,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, 
				[{relx, 
					[{dev_mode, false},
                     {include_erts, true}
                     ]
                 }]
            }]
}.

